{% load static %}
<!--
<div class="join-container">
    <div class="join-text">
        Join
    </div>
</div>
-->

<div class="extras-container">
    <div class="extras-container">
        <div class="info info-title">
            Sketch Trends
        </div>

        <div class="info indent">
            #People
        </div>
        <div class="info indent">
            #Horror
        </div>
        <div class="info indent">
            #Animals
        </div>
        <div class="info indent">
            #Mechatech
        </div>
        <div class="info indent">
            #Weird
        </div>
    </div>

    <div class="extras-container">
        <div class="info info-shout">
            Session Summary
        </div>
        <div class="info info-title">
            Picture Zone
        </div>
        <div class="info indent">
            Mechatech
        </div>

        <div class="info info-title">
            Options
        </div>
        <div class="info indent">
            Robots, Laboratory, Machines
        </div>


        <div class="info info-title">
            Session Phases
        </div>
        <div class="info indent">
            Doodle Dash
        </div>
        <div class="info indent">
            Warmup Sketching
        </div>
        <div class="info indent">
            Focuses Drawing
        </div>

        <div class="info info-title">
            Total Time
        </div>
        <div class="info indent">
            1hr 30mins
        </div>

    </div>



    <!--
    
    A block for links to tutorials
    People with art chanels can post links here 
    This could help with expanding reach


    A block for links to Community

    A block for ...
    -->

    <div class="extras-container">

        <div class="info info-title">
            Tips & Tricks
        </div>
    </div>

    <div class="extras-container">
        
        <div class="info info-title">
            Spotlight
        </div>
    </div>

    <div class="extras-container">
        
        <div class="info info-title">
            Mutts
        </div>
    </div>
    
</div>



