{% load static %}

<div class="authenticate-container">
    <div class="authenticate-inner-wrapper">


        <div class="form-title">
            Reset Password
        </div>

        <!-- The Sign In form -->
        <div class="form-wrapper">
            <form class='standard-form' action="{% url 'doodle_app:reset_password' %}" method="post">
                {% csrf_token %}
 
                {{all_forms.password_reset_form}}
                <div class="form-submit">
                    <input class = "form-submit-btn" type="submit" value="Send Reset">
                </div>
            </form>

            {% if form_error.password_reset_error %}
                <div class="login-message">
                    {{ form_error.password_reset_error  }}
                </div>
            {% endif %}
        </div>


        <div class="form-message">
            A password reset will be sent to your email.<br /> Remember to change as soon as you sign-in!
        </div>

    </div>
</div>