{% load static %}

<div class="form-inputs-box">

    <div class="session-title">
        Session Pics
    </div>

    <div class="session-title">
        Time
    </div>

    <div class="notes-box">
        <div class="text">
            Category Notes
        </div>
    </div>

    <div class="session-title">
        Choose a Subcategory
    </div>

    <div class="notes-box">
        <div class="text">
            Subcategory Notes
        </div>
    </div>


        <div class="session-title">
        Session Pics
    </div>

    <div class="session-title">
        Choose a Category
    </div>

    <div class="notes-box">
        <div class="text">
            Category Notes
        </div>
    </div>

    <div class="session-title">
        Choose a Subcategory
    </div>

    <div class="notes-box">
        <div class="text">
            Subcategory Notes
        </div>
    </div>


    <div class="session-title">
        Session Pics
    </div>

    <div class="session-title">
        Choose a Category
    </div>

    <div class="notes-box">
        <div class="text">
            Category Notes
        </div>
    </div>

    <div class="session-title">
        Choose a Subcategory
    </div>

    <div class="notes-box">
        <div class="text">
            Subcategory Notes
        </div>
    </div>


    <div class="session-title">
        Session Pics
    </div>

    <div class="session-title">
        Choose a Category
    </div>

    <div class="notes-box">
        <div class="text">
            Category Notes
        </div>
    </div>

    <div class="session-title">
        Choose a Subcategory
    </div>

    <div class="notes-box">
        <div class="text">
            Subcategory Notes
        </div>
    </div>

    <div class="session-title">
        Session Pics
    </div>

    <div class="session-title">
        Choose a Category
    </div>

    <div class="notes-box">
        <div class="text">
            Category Notes
        </div>
    </div>

    <div class="session-title">
        Choose a Subcategory
    </div>

    <div class="notes-box">
        <div class="text">
            Subcategory Notes
        </div>
    </div>



</div>