{% load static %}

<!-- The letf Column Nav Panel -->
<div class="desktop-nav-panel">

        <!-- The nav icons and links -->
        <div class="user-container" id="user-avatar" data-section="user-section">
            <div class="user-avatar">
                <img class="avatar-img" src=" {% static 'sddoodle_app/images/user_avatars/avatar_300.jpg' %}">
            </div>

            <div class="user-name"> <!-- default mobile display:none-->
                Jeferz
            </div>
        </div>

        <div class = "nav-icons-container">
            <!-- nav Icons and Links -->
        </div>



        <!-- The app tabs -->

        <div class="session-config ">


            <div class = "tabs-container">

                <div class="tab" id="pic-tab"  data-section="session-pics">

                    <div class="tab-img-container"> <!-- Desktop Only -->
                        <img  src="{% static 'sddoodle_app/images/css_backgrounds/camera.webp' %}">
                    </div>

                    <div class="tab-label-container"> <!-- Desktop Only-->
                        <div class="tab-label">
                            Pics
                        </div>
                    </div>

                    <!-- SVG Mobile Only -->
                    <svg class="tab-icon-svg" id="pics-svg" viewBox="0 0 12.312016 12.482488">
                        
                        <g id="pics-svg-group" transform="translate(-0.63486027,-0.28021713)">
                            <path
                            d ="..."
                            id="pics-svg-path" />
                        </g>
                    </svg>


                </div>

                <div class="tab" id="time-tab" data-section="session-time">
                    <div class="tab-img-container"> <!-- Desktop Only -->
                        <img src="{% static 'sddoodle_app/images/css_backgrounds/time.webp' %}">
                    </div>
            
                    <div class="tab-label-container"> <!-- Desktop Only-->
                        <div class="tab-label">
                            Time
                        </div>
                    </div>

                    <!-- Mobile Only -->
                    <svg class="tab-icon-svg" id="time-svg" viewBox="0 0 13.229166 13.229167">
                        
                        <g id="time-svg-group">
                            <path
                            d = "..."
                            id="time-svg-path" />
                        </g>
                    </svg>                   

                </div>

                <div class="tab" id="music-tab" data-section="session-music">
                    <div class="tab-img-container"> <!-- Desktop Only -->
                        <img class="tab-img" src="{% static 'sddoodle_app/images/css_backgrounds/music.webp' %}">
                    </div>
                    <div class="tab-label-container"> <!-- Desktop Only -->
                        <div class="tab-label">
                            Music
                        </div>
                    </div>

                    <!-- Mobile Only -->
                    <svg class="tab-icon-svg" id="music-svg" viewBox="0 0 11.226226 12.739461">

                        <g id="music-svg-group"  transform="translate(-1.0356211,-0.36575299)">
                            <path
                            d = " ... "
                            id="music-svg-path" />
                        </g>
                    </svg>                 

                    </div>
            </div>


        </div>


</div>


















{% load static %}

<!-- Home Page with welcome message -->


<div class='text-container'>
    <div class="text">
        "Doodle, draw and sketch your way to awesomeness!"
    </div>
</div>

<div class='text-container'>
    <div class="subtext">
        Doodle Master Leckie, Hamish
    </div>
</div>


<div class="welcome-hero">
    <img class="hero-img" src = "{% static 'sddoodle_app/images/heros/duke_welcome_splash_w600.jpg' %}" title="Doodle Master Rory">
</div>

<div class="text-container">
    <div class="text">
        Pick from millions of epic references. Sci-fi, Horror, fantasy and more.
    </div>
</div>
<br />
<div class="text-container">
    <div class="text">
        Fun and Free for all artists and all levels!
    </div>
</div>

<div class = "splat-container" >
    <svg class='ink-splat-svg' id="splat1-svg" viewBox="0 0 13.135829 13.183939"
        
        >
        <g id="splat1-svg-group" data-section="session-pics">
            <path id="splat1-svg-path" 
            d = "..."
            />
        </g>
    </svg>
</div>

<div class="text-container" id="get-drawing" data-section="session-pics">
    <div class="text shout" >
        Get Drawing!
    </div>
</div>
