
$writing: gooddog, gooddog, Arial, sans-serif;
$subtext: redrocket, Arial, sans-serif;
$shoutout: japab, Arial, sans-serif;
$stack1: gooddog, Arial, sans-serif;
$header: badbrush, italic, Arial, sans-serif;
$emphasis: redrocket, Arial, sans-serif;
$drybrush: drybrush, Arial, sans-serif;

$logo: drybrush, Arial, sans-serif;

@font-face {
    font-family: badbrush;
    src: url('../fonts/woff2/badbrush.woff2');
}

@font-face{
    font-family: gooddog;
    src: url('../fonts/woff2/gooddog.woff2')
}

@font-face{
    font-family: drybrush;
    src: url('../fonts/woff2/drybrush.woff2')
}

@font-face{
    font-family: ninjanaruto;
    src: url('../fonts/woff2/ninjanaruto.woff2')
}

@font-face {
    font-family: radbrush;
    src: url('../fonts/woff2/radbrush.woff2');
}

@font-face {
    font-family: babyblue;
    src: url('../fonts/woff/BabyBlue.woff');
}

@font-face {
    font-family: japab;
    src: url('../fonts/woff/JAPAB.woff');
}

@font-face {
    font-family: redrocket;
    src: url('../fonts/woff/redrocket.woff');
}









